
ul {
 position: relative;
 left: 400px;
 }
header {
	font-family: Garamond;
}
.navbar-custom {
    background-color:#000000;
    color:#ffffff;
    border-radius:0;
	font-size: 1.2em;
	padding: 2px 10px;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}

body {
	background-image: url(office.jpg);
	background-size:cover;
}
